<div class="modal" id="add_script_file_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Script File</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="add_script_file_frm">
                    <div class="form-group form-group-lg">
                        <label
                            class="control-label requiredField"
                            for="file_name"
                        >
                            File Name
                            <span class="asteriskField">
                                *
                            </span>
                        </label>
                        <input
                            class="form-control"
                            id="file_name"
                            name="file_name"
                            type="text"
                        />
                    </div>
                    <div class="form-group form-group-lg">
                        <label
                            class="control-label requiredField"
                            for="page_id"
                        >
                            Page ID
                            <span class="asteriskField">
                                *
                            </span>
                        </label>
                        <select
                            class="form-control"
                            id="page_id"
                            name="page_id"
                            type="text"
                        >
                            <option value="">Select page.</option>
                            <option value="landing">Landing</option>
                            <option value="sign_up_talent"
                                >Sign up Talent</option
                            >
                            <option value="sign_up_recruiter"
                                >Sign up Recruiter</option
                            >
                            <option value="search">Search</option>
                            <option value="simple_search_recruiter"
                                >Simple Search Recruiter</option
                            >
                            <option value="simple_search_talent"
                                >Simple Search Talent</option
                            >
                            <option value="talent_profile"
                                >Talent Profile</option
                            >
                            <option value="recruiter_profile"
                                >Recruiter Profile</option
                            >
                            <option value="recruiters_vacant_list"
                                >Recruiters Vacant List</option
                            >
                            <option value="vacant_detail">Vacant Detail</option>
                            <option value="connections_talent"
                                >Connections Talent</option
                            >
                            <option value="connections_recruiter"
                                >Connections Recruiter</option
                            >
                            <option value="chat_talent">Chat Talent</option>
                            <option value="chat_recruiter"
                                >Chat Recruiter</option
                            >
                            <option value="settings_talent"
                                >Settings Talent</option
                            >
                            <option value="settings_recruiter"
                                >Settings Recruiter</option
                            >
                            <option value="talents_x_recruiter"
                                >Talents for Recruiter</option
                            >
                            <option value="posted_jobs_recruiters"
                                >Posted jobs recruiters</option
                            >
                        </select>
                    </div>
                    <div class="form-group">
                        <div>
                            <button
                                class="btn btn-primary "
                                name="submit"
                                type="submit"
                                style="width: 100%;"
                            >
                                ADD
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button
                    id="save_new_script_file"
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
